.quiz__main{
    padding: 5rem 8rem;
    width: 100%;
}

.question{
    padding: 4rem 3rem;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    text-align: center;
    position: relative;
}

.quiz__question{
    max-width: 90rem;
    margin: 4rem auto 10rem auto;
}

.question__text{
    font-size: 2rem;
}

.question__number{
    padding: 1.5rem;
    border-radius: 10rem;
    position: absolute;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    width: 25rem;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem,1fr));
    grid-gap: 2rem;
}

.option__name{
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.add__hover:hover{
    background-color: var(--light-primary-color);
    color: var(--primary-color);
}

.option__name-text{
    font-size: 1.5rem;
}

.submit__section{
    text-align: center;
}

.submit__btn{
    padding: 1rem 10rem;
}